.logo {
  width: 60px;
  height: 40px;
  object-fit: cover;
  margin-left: 20px;
}

.navbar-brand {
  margin-right: 30px;
}

.btn {
  margin-left: 10px;
  border: 50px;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.navbar-brand span {
  color: #00b27a;
}

.nav-link {
  margin: 0 15px;
}

.search-form {
  width: 450px;
}

.navbar-nav a {
  color: white;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.navbar-collapse a {
  color: #343a40;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.brand-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.brand-logos img {
  width: 90px;
  height: auto;
  object-fit: contain;
  margin: 20px;
}

hr {
  background-color: black;
  height: 2px;
  margin: 3px;
}

p {
  font-size: 50px;
  color: #0b3256;
  margin-bottom: 10px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: #0b3256;
  margin: 0;
}

.accesories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 100px;
  margin: auto;
}

.accesories div {
  width: 300px;
  text-align: center;
}

.accesories img {
  width: 180px;
  height: 120px;
  object-fit: contain;
}

.img-text {
  margin-top: 8px;
  font-size: 20px;
  color: #333;
  text-align: center;
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto;
}

.card-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(70%);
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 40px;
}

.card-img-overlay h4 {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.card-img-overlay h2 {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}

.card-img-overlay p {
  font-size: 16px;
  color: white;
  line-height: 1.5;
  max-width: 600px;
}

.button {
  margin-top: 10px;
  border-color: white;
  padding: 6px;
  margin: 8px;
  color: white;
  transition: 0.3s;
}

.button:hover {
  background-color: white;
  color: white;
}

.carousel-item img {
  width: 80%;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(70%);
  display: block;
  margin: 0 auto;
}

.carousel-caption {
  position: absolute;
  top: 25%;
  left: 13%;
  text-align: left;
  color: #fff;
  max-width: 450px;
  z-index: 10;
  pointer-events: auto;
}

.carousel-caption h4 {
  font-size: 15px;
  margin-bottom: 10px;
}

.carousel-caption h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 12px;
}

.carousel-caption p {
  font-size: 15px;
  margin-bottom: 15px;
  color: white;
}

.carousel-caption .btn {
  border: 1px solid white;
  color: white;
  border-radius: 25px;
  padding: 8px 20px;
  transition: 0.3s;
}

.carousel-caption .btn:hover {
  background: white;
  color: black;
}

.carousel-control-next {
  position: absolute;
  top: 50%;
  right: 150px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-next-icon {
  filter: invert(1);
  width: 20px;
  height: 20px;
}

.container h2 {
  text-align: left;
  color: rgb(56, 57, 57);
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 25px;
}

.slider {
  position: relative;
  width: 95%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  min-width: 230px;
  width: 250px;
  height: 350px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.card h6 {
  font-size: 12px;
  color: gray;
  margin: 8px 0 4px 0;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 15px;
  color: rgb(56, 57, 57);
  line-height: 1.3;
  margin-bottom: 8px;
  height: 40px;
  overflow: hidden;
}

.card p {
  color: #0057b7;
  font-weight: bold;
  font-size: 14px;
  margin-top: auto;
}

.maker {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.maker img {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  transition: tranform 0.3s;
}

.maker img:hover {
  transform: scale(1.05);
}

.carousel-control-next {
  z-index: 9999 !important;
}

.carousel-caption {
  z-index: 1;
}
