.logo {
  width: 60px;
  height: 40px;
  object-fit: cover;
  margin-left: 20px;
}

.navbar-brand {
  margin-right: 30px;
}

.btn {
  margin-left: 10px;
  border: 50px;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.navbar-brand span {
  color: #00b27a;
}

.nav-link {
  margin: 0 15px;
}

.search-form {
  width: 450px;
}

.navbar-nav a {
  color: white;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.navbar-collapse a {
  color: #343a40;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.brand-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.brand-logos img {
  width: 90px;
  height: auto;
  object-fit: contain;
  margin: 20px;
}

hr {
  background-color: black;
  height: 2px;
  margin: 3px;
}

p {
  font-size: 50px;
  color: #0b3256;
  margin-bottom: 10px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: #0b3256;
  margin: 0;
}

.accesories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 100px;
  margin: auto;
}

.accesories div {
  width: 300px;
  text-align: center;
}

.accesories img {
  width: 180px;
  height: 120px;
  object-fit: contain;
}

.img-text {
  margin-top: 8px;
  font-size: 20px;
  color: #333;
  text-align: center;
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  max-width: 900px;
  margin: 0 auto;
}

.card-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(70%);
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 40px;
}

.card-img-overlay h4 {
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.card-img-overlay h2 {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 15px;
}

.card-img-overlay p {
  font-size: 16px;
  color: white;
  line-height: 1.5;
  max-width: 600px;
}

.button {
  margin-top: 10px;
  border-color: white;
  padding: 6px;
  margin: 8px;
  color: white;
  transition: 0.3s;
}

.button:hover {
  background-color: white;
  color: white;
}
